<%- include('partials/header') -%>

<div class="image-container">
   <img src="../images/image2.jpg" alt="image2">
 </div>
 

 <div class="container">



<h1><%=title%></h1>

<p><%=content%></p>



<%- include('partials/footer') -%>